{% extends 'projects/Main.html' %}
{% include 'projects/Navbar.html' %}
{% block content %}
<br>
<div class="jumbotron jumbotron-fluid bg-light">
    <h1 align="center">
        <font color="Black">Attendance Management Page</font>
    </h1>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6.5">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Attendance:</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark text-white" id="dataTable" width="100%" cellspacing="0">
                            <tr>
                                <th>Employee Name</th>
                                <th>Checked-In</th>
                                <th>Checked-Out</th>
                                <th>Work Status</th>
                                <th>Full Hours</th>
                                <th>Attendance</th>
                                <th>Date-Time Created</th>
                                <th><a class="btn btn-sm btn-success" href="{% url 'add_attform' %}">Create Attendance</a></th>
                            </tr>

                            {% for a in attendance %}
                            <tr>
                                <td>{{a.Employee_Name}}</td>
                                <td>{{a.Check_In}}</td>
                                <td>{{a.Check_Out}}</td>
                                <td>{{a.Status}}</td>
                                <td>{{a.FullHours_Utilized}}</td>
                                <td>{{a.Mark_Attendance}}</td>
                                <td>{{a.Date_created}}</td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'update_attform' user.id %}">Update</a>
                                    <a class="btn btn-sm btn-danger" href="{% url 'delete_attform' user.id %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6.5">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Attendance Detail</div>
                <div class="card-body bg-dark">
                    <a class="btn btn-light btn-block" href="{% url 'att_report' %}">View Attendance</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}