

<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white bg-success mb-3" id="total-leaves">
                <div class="card-header">
                    <h5 class="card-title">Total Leaves</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_leave}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white bg-danger mb-3" id="leaves-spent">
                <div class="card-header">
                    <h5 class="card-title">Leaves Utilized</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{leave_spent}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
