{% load static %}
<html>
    <head>
        <title>AMPMS</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <style>
            body,
            html {
                margin: 0;
                padding: 0;
                height: 100%;
                background: LightGrey !important;
            }
        </style>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <img src="{% static 'Images/logo final test.png' %}">
        <button class="navbar-toggler"
                type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link nav text-white">AMPMS</a>
                </li>
            </ul>
        </div>
    </nav>
    <body>
    <div class="container">
        <br>
        <h3>Password Reset</h3>
        <br>
        <h6>Forgotten your password?</h6>
        <h6>Enter your Email Address below,
            and we'll email the instructions for setting a new one.</h6>

        <form method="post">
            {% csrf_token %}
            <b>{{form}}</b>
            <button class="btn btn-success" type="submit" name="send email">Submit</button>
        </form>
    </div>
    </body>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <div class="verybottom">
        <footer class="py-4 bg-dark mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">
                        <h6><font color="White">&copy; AMPMS - All Rights Reserved</font></h6>
                    </div>
                    <div>
                        <a class="btn btn-sm btn-dark" href="#">Privacy Policy</a>

                        <a class="btn btn-sm btn-dark" href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</html>

