{% extends 'projects/Main.html' %}
{% include 'projects/Navbar.html' %}
{% block content %}
<br>
<div class="jumbotron jumbotron-fluid bg-light">
    <h1 align="center">
        <font color="Black">Payroll Management Page</font>
    </h1>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6.5">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i><b>Original Payroll:</b></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark text-white" id="dataTable" width="100%" cellspacing="0">
                            <tr>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>Employee Salary</th>
                            </tr>

                            {% for emp in Employee %}
                            <tr>
                                <td>{{emp.id}}</td>
                                <td>{{emp.Full_Name}}</td>
                                <td>{{emp.Designation}}</td>
                                <td>{{emp.Salary}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i><b>CRUD Payroll:</b></div>
                <div class="card-body bg-dark">
                    <div class="p-3 mb-2 bg-gradient-info text-white">
                        <a class="btn btn-success btn-white btn-block" href="{% url 'add_payrollform' %}">Create Payroll</a>
                    </div>
                    <div class="p-3 mb-2 bg-gradient-info text-white">
                        <a class="btn btn-warning text-white btn-block" href="">View/Read Payroll</a>
                    </div>
                    <div class="p-3 mb-2 bg-gradient-info text-white">
                        <a class="btn btn-info btn-white btn-block" href="">Update Payroll</a>
                    </div>
                    <div class="p-3 mb-2 bg-gradient-info text-white">
                        <a class="btn btn-danger btn-white btn-block" href="">Delete Payroll</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-9.5">
            <div class="card mb-5">
                <div class="card-header"><i class="fas fa-table mr-1"></i><b>Payroll Status:</b></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark text-white" width="100%" cellspacing="0">
                            <tr>
                                <th>Month</th>
                                <th>Employee Name</th>
                                <th>No. of 'Present' Attendance</th>
                                <th>Basic_Salary</th>
                                <th>Per Day Wage</th>
                                <th>Leaves Utilized</th>
                                <th>Overall Deduction</th>
                                <th>Attendance (%)</th>
                                <th>Final Salary</th>
                                <th>Date-Time Created</th>
                            </tr>

                            {% for p in All_payrolls %}
                            <tr>
                                <td>{{p.Month_Year}}</td>
                                <td>{{p.Employee_Name}}</td>
                                <td>{{p.No_of_Presents}}</td>
                                <td>{{p.Basic_Salary}}</td>
                                <td>{{p.Per_Day_Wage}}</td>
                                <td>{{p.Leave_Utilized}}</td>
                                <td>{{p.Four_LeaveSpent_Deduction}}</td>
                                <td>{{p.Att_Percentage}}</td>
                                <td>{{p.Final_Pay}}</td>
                                <td>{{p.date_created}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}